/*Selector universal*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/*Estilo general html*/
/* html {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
} */

/*Estilos generales del body*/
/* body {
    background-color: #735B69;
} */

/*Estilos Header*/
/* .barra-menu {
    background-color: #fee19fea;
} */

/* .logo-vola {
    width: 130px;
    height: 130px;
} */

/* .navbar-nav {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
} */

/* .boton-menu {
    background-color: #735B69;
    border: solid;
    border-color: #030923;
} */

/*Estilos Home*/
/* h1 {
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}  */

/* .grid-img-index {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem
}

.grid-img-index div img {
    width: 100%;
    height: 100%;
} */

/* .parrafo-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: medium;
    color: #FCDDF2;
}

em strong {
    text-decoration: underline;
} */

/*Estilos Ambientaciones*/

/* h1{
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
} */

/* .contenedor-ambientaciones {
    color: #FCDDF2;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parrafo-ambientaciones {
    margin: 20px;
    text-align: center;
} */

/* .incluye {
    color: #FCDDF2;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.lista-incluye {
    color: #FCDDF2;
    margin-top: 30px;
    margin-bottom: 30px;
} */



/*Estilos Quienes Somos*/
/* 
h1{
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
} */

/* .flex-img {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 20px;
} */

/* .flex-img div img {
    width: 300px;
    height: 300px;

} */

/* .img-quienes-somos1 {
    border: 5px outset #f7bff298;
}

.img-quienes-somos2 {
    border-radius: 300px;
    border: 5px inset #f7bff298;
} */
/* 
.parrafo-quienes-somos {
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
} */

/* .parrafo-quienes-somos p strong {
    text-decoration: underline;
    font-style: italic;
} */

/*Estilos Galeria*/

/* h1{
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
} */

/* .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: repeat(5, 200px);
    margin: 1rem 4rem 4rem 4rem;
    gap: 1rem;
} */

/* .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*Estilos Contaco*/

/* h1 {
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
} */

/* .parrafo-contacto {
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
} */

/* .titulo-formulario {
    margin: 20px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    text-decoration: underline;
} */
/* 
.form-section {
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #bfd9f798;
    width: 280px;
} */

/* .form-contacto {
    position: relative;
    margin-bottom: 10px;
}

.form-contacto input {
    height: 40px;
    width: 250px;
    border: 2px solid rgba(110, 87, 121, 0.856);
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
} */

/*Estilos Footer*/

/* .footer {
    background-color: #ece7caf8;
    color: rgb(8, 8, 8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    height: 180px;
}   */

/* .footer div img{
    width: 80px;
    height: 80px;
    margin-left: 100px;
} */

/* .parrafo-footer{
    color: #030923af;
    font-weight: 200px;
    font-size: small;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 10px;
}  */


/* .img-instagram{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 50px;
    max-height: 50px;
    bottom: 10px;
    left: 20px;
} */

/* .logo-Whatsapp img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}  */



/*Media queries*/
/*Mobile 320px y 768px*/
/* @media screen and (min-width: 320px) {}

/*Tablet 768px y 1024px*/
/* @media screen and (min-width: 768px) {  */

    /*Home*/
    /* h1 {
        padding: 20px;
        font-size: xx-large;
    }

    .grid-img-index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    /* .parrafo-main {
        padding: 20px;
        background-color: #fc4ac156;
        margin: 20px;
    } */

    /*Ambientaciones*/
    /* .contenedor-ambientaciones {
        font-size: large;
        padding: 20px;
    } */


    /* .parrafo-ambientaciones {
        text-align: center;
    } */

    /* .lista-incluye {
        margin-left: 30px;
        padding: 20px;
        font-size: large;
    } */

    /*Galeria*/
    /* .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img3 img5";
    } */
/* 
    .img-3 {
        grid-area: img3;
    } */

    /*Quienes Somos*/
    /* .flex-img {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    } */

    /* .flex-img div img {
        width: 350px;
        height: 350px;
    } */

    /* .parrafo-quienes-somos {
        text-align: center;
    } */

    /*Contacto*/
    /* .parrafo-contacto {
        position: absolute;
        left: 400px;
        top: 400px;
        width: 300px;
        font-size: x-large;
    } */

    /*Footer*/
    /* .footer div img{
        margin-left: 360px;
    } */
    /* .parrafo-footer{
        position: absolute;
        margin-left: 310px;
        margin-top: 90px;
    } */
    /* .img-instagram{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        max-width: 50px;
        max-height: 50px;
        top: 20px;
    } */
    


/*Desktop 1024px y 1200px*/
/* @media screen and (min-width: 1024px) { */

    /*Home*/
    /* h1 {
        font-size: xx-large;
        padding: 20px;
        margin: 40px;
    } */
/* 
    .grid-img-index {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 350px);
        gap: 1rem;
        margin-top: 2rem;
    } */
/* 
    .parrafo-main {
        font-size: x-large;
        position: relative;
        left: 430px;
        bottom: 300px;
        height: 250px;
        width: 450px;
    } */



    /*Ambientaciones*/
    /* .contenedor-ambientaciones {
        font-size: x-large;
    } */

    /* .lista-incluye {
        font-size: x-large;
    } */

    /*Quienes Somos*/
    /* .parrafo-quienes-somos {
        font-size: x-large;
        text-align: center;
        padding: 30px;
    } */

    /* .flex-img {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 6rem;
        margin-bottom: 2rem;
    } */

    /* .flex-img div img {
        width: 400px;
        height: 400px;
    } */

    /*Galeria*/
    /* .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 350px);
        grid-template-areas:
            "img1 img5 img2"
            "img4 img5 img3";
    }

    .img-5 {
        grid-area: img5;
    } */

    /*Contacto*/
    /* .parrafo-contacto {
        background-color: #fc4ac156;
        width: 500px;
        left: 470px;
        top: 450px;
    } */

    /* .form-section {
        width: 400px;
    } */

    /* .form-contacto input {
        height: 50px;
        width: 350px;
    } */

    /* .form-contacto textarea {
        width: 350px;
    } */

        /*Footer*/
        /* .footer div img{
            margin-left: 500px;
        } */
        /* .parrafo-footer{
            font-size:medium;
            margin-left: 435px;
            margin-top:90px;
        } */
        /* .img-instagram{
            margin-right: 550px;
            margin-top: 10px;
        } */
