/*Selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo general html*/
html{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/*Estilos generales del body*/
body {
    background-color: #735B69;
    
}

/*Estilos Menu NavBar*/
.barra-menu {
    background-color: #FEE19F;
}

.navbar-nav {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.boton-menu {
    background-color: #735B69;
    border: solid;
    border-color: #030923;
}

/*Estilos Main*/

.logo-Whatsapp img {
    width:50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.logo-vola {
    width: 130px;
    height: 130px;
}


.titulo-principal {
    margin-top: 15px;
    color: #FCDDF2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}


.grid-galeria{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 400px);
gap: 1rem;
margin-top: 1rem;
}


.grid-galeria div img{
    width: 100%;
    height: 100%;
}

.parrafo-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    position: relative;
    left: 200px;
    top: 8px;
}

/*Estilos Ambientaciones*/

.titulo-ambientaciones {
    margin: 50px;
}

.img-ambientaciones {
    width: 50%;
    height: 50%;
}

/*Estilos Quienes Somos*/

.titulo-quienes-somos {
    margin: 50px;
}

.img-quienes-somos1 {
    width: 600px;
    height: 500px;
    margin: 20px;
    border: 5px double #bd3f57;
}


.img-quienes-somos2 {
    margin: 30px;
    width: 500px;
    height: 500px;
    border-radius: 300px;
    border: 5px double #bd3f57;
}

.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}



/*Estilos Galeria*/

.titulo-galeria {
    margin: 50px;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    align-items: center;
}

.img-galeria {
    width: 400px;
    height: 400px;
}


/*Estilos Contaco*/

.titulo-contacto {
    margin: 50px;
}

.titulo-formulario {
    margin: 50px;
}




/*Media query Tablet*/
@media screen and (max-width: 1024px) {}

/*Media query Mobile*/
@media screen and (max-width: 768px) {}


/*Estilos Footer*/

.footer {
    background-color: #4e4448;
    color: white;
    margin-top: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.contenedor-footer{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:medium;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    margin-right: 15px;
}

.img-instagram {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    right: 220px;
    top: 30px;
}

.img-whatsapp {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    right: 230px;
    top: 30px;
}

.img-mail {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    right: 175px;
    bottom: 10px;
}



