.main-quienes-somos {
    .parrafo-quienes-somos {
        color: $color-principal;
        @include flex(row, wrap);
        text-align: center;
        padding: 20px;
        p {
            strong {
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
    .flex-img {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 20px;
        div {
            img {
                width: 300px;
                height: 300px;
                }
                .img-quienes-somos1 {
                    border: 5px outset $color-principal;
            }
        }
        div {
            img {
                width: 300px;
                height: 300px;
            }
            .img-quienes-somos2 {
                border-radius: 300px;
                border: 5px inset $color-principal;
            }
        }
    }
}
