.main-galeria{
    h1{
        padding: 10px;
    }
    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: repeat(5, 200px);
        margin: 1rem 4rem 4rem 4rem;
        gap: 1rem;
        div{
            img{
                @extend %medidas;
                object-fit: cover;
            }
        }
        div{
            img{
                @extend %medidas;
                object-fit: cover;
            }
        }
        div{
            img{
                @extend %medidas;
                object-fit: cover;
            }
        }
        div{
            img{
                @extend %medidas;
                object-fit: cover;
            }
        }
        div{
            img{
                @extend %medidas;
                object-fit: cover;
            }
        }
    }
}