.main-index {
    h1 {
        margin-top: 15px;
        color: $color-principal;
        @include flex(row, wrap);
        justify-content: center;
        font-family: "Akaya Kanadaka", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .grid-img-index {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 1rem;
        div {
            img {
                @extend %medidas;
            }
        }
        div {
            img {
                @extend %medidas;
            }
        }
        div {
            img {
                @extend %medidas;
            }
        }
        div {
            img {
                @extend %medidas;
            }
        }
    }
    .parrafo-main {
        @include flex(row, wrap);
        text-align: center;
        font-size: medium;
        color: $color-principal;
        p {
            em {
                strong {
                    text-decoration: underline;
                }
            }
        }
    }
}