.main-index {
    .grid-img-index {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 1rem;
        div {
            img {
                @extend %medidas;
                box-shadow: 13px 14px 11px -9px rgba(255,255,255,0.98);
            }
        }
        div {
            img {
                @extend %medidas;
                box-shadow: 13px 14px 11px -9px rgba(255,255,255,0.98);
            }
        }
        div {
            img {
                @extend %medidas;
                box-shadow: 13px 14px 11px -9px rgba(255,255,255,0.98);
            }
        }
        div {
            img {
                @extend %medidas;
                box-shadow: 13px 14px 11px -9px rgba(255,255,255,0.98);
            }
        }
    }
    .parrafo-main {
        @include flex(row, wrap);
        text-align: center;
        font-size: medium;
        color: $color-principal;
        p {
            em {
                strong {
                    text-decoration: underline;
                }
            }
        }
    }
}