.main-galeria{
    h1{
        padding: 10px;
    }
    .galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,200px);
        margin: 1rem 4rem 4rem 4rem;
        gap: 1rem;
        div{
            img{
                @extend %medidas;
                object-fit: cover;
                border-color: #c9c384bb;
                border-style: solid;
                box-shadow: -3px 3px 26px 0px rgba(255,255,255,0.95);
                
            }
        }
    }
}