footer{
    .footer {
        display: flex;
        background-color: #ece7caf8;
        padding: 20px;
        align-items: center;
        .parrafo-footer{
            color: rgb(131, 21, 125);
            font-weight:bold;
            p{
                margin: 0;
                margin-top: 20px;
                font-size: 12px;
                font-style: italic;
                margin-bottom: 20px;
            }
        } 
        div{
            a{
                .img-instagram{
                    max-width: 80%;
                    height: auto;  
                    margin-left: 5px;
                }
            }
        }
        }
        .logo-Whatsapp {
        img {
            width: 50px;
            position: fixed;
            bottom: 20px;
            right: 5px;
        }
    } 
    } 