header{
    .barra-menu {
        background-color: #fee19fea;
    }
    div{
        a{
            .logo-vola {
                width: 130px;
                height: 130px;
            }
        }
        .boton-menu {
            background-color: #735B69;
            border: solid;
            border-color: #030923;
        }    
    } 
    div{
        .navbar-nav {
            font-family: "ABeeZee", sans-serif;
            font-weight: 400;
            font-style: italic;
        }
    } 
}