header{
    .barra-menu {
        background-color: $color-principal;
    }
    div{
        a{
            .logo-vola {
                width: 130px;
                height: 130px;
            }
        }
        .boton-menu {
            background-color: #68226D;
            border: solid;
            border-color: rgb(177, 176, 120);
        }    
    } 
    div{
        .navbar-nav {
            font-family: "ABeeZee", sans-serif;
            font-weight: 400;
            font-style: italic;
            li{
                .nav-link{
                    color:#68226D;
                }
            }
        }
    } 
}